- cache [@update] do
  .container
    .row
      .col-sm-12.col-md-6.col-lg-7
        .map
          = render partial: "mapa"
      .col-sm-12.col-md-6.col-lg-5
        #accordion.panel-group{:role => "tablist", 'aria-multiselecttable' => "true"}
          .panel.panel-default
            #disconnected.panel-heading{:role => "tab"}
              %h4.panel-title
                %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#disconnected-body", 'aria-expanded' => "true", 'aria-controls' => "disconnected-body"}
                  =t('disconnected')
                  %span.badge.text-right= @segments.drivable.disconnected.count
            #disconnected-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "disconnected"}
              %ul.list-group
                - @states.order('nm_estado').each do |s|
                  - if s.segments.drivable.disconnected.count > 0
                    %li.list-group-item
                      %a{:href => "/segments_state/#{s.abbreviation}"}= s.nm_estado
                      %span.badge= s.segments.drivable.disconnected.count
          .panel.panel-default
            #level.panel-heading{:role => "tab"}
              %h4.panel-title
                %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#level-body", 'aria-expanded' => "true", 'aria-controls' => "level-body"}
                  =t('level')
                  %span.badge.text-right= @segments.weird_level.count
            #level-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "level"}
              %ul.list-group
                - @states.order('nm_estado').each do |s|
                  - if s.segments.weird_level.count > 0
                    %li.list-group-item
                      %a{:href => "/segments_state/#{s.abbreviation}"}= s.nm_estado
                      %span.badge= s.segments.weird_level.count
          .panel.panel-default
            #noname.panel-heading{:role => "tab"}
              %h4.panel-title
                %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#noname-body", 'aria-expanded' => "true", 'aria-controls' => "noname-body"}
                  =t('noname')
                  %span.badge.text-right= @segments.no_name.count
            #noname-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "noname"}
              %ul.list-group
                - @states.order('nm_estado').each do |s|
                  - if s.segments.no_name.count > 0
                    %li.list-group-item
                      %a{:href => "/segments_state/#{s.abbreviation}"}= s.nm_estado
                      %span.badge= s.segments.no_name.count
          .panel.panel-default
            #without-speed.panel-heading{:role => "tab"}
              %h4.panel-title
                %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#without-speed-body", 'aria-expanded' => "true", 'aria-controls' => "without-speed-body"}
                  =t('without-speed')
                  %span.badge.text-right= @segments.important.without_speed.count
            #without-speed-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "without-speed"}
              %ul.list-group
                - @states.order('nm_estado').each do |s|
                  - if s.segments.important.without_speed.count > 0
                    %li.list-group-item
                      %a{:href => "/segments_state/#{s.abbreviation}"}= s.nm_estado
                      %span.badge= s.segments.important.without_speed.count
          .panel.panel-default
            #ferry.panel-heading{:role => "tab"}
              %h4.panel-title
                %a{:role => "button", 'data-toggle' => "collapse", 'data-parent' => "#accordion", :href => "#ferry-body", 'aria-expanded' => "true", 'aria-controls' => "ferry-body"}
                  =t('ferries')
                  %span.badge.text-right= @segments.where(roadtype: 15).count
            #ferry-body.panel-collapse.collapse{:role => "tabpanel", 'arialabelledby' => "ferry"}
              %ul.list-group
                - @states.order('nm_estado').each do |s|
                  - if s.segments.where(roadtype: 15).count > 0
                    %li.list-group-item
                      %a{:href => "/segments_state/#{s.abbreviation}"}= s.nm_estado
                      %span.badge= s.segments.where(roadtype: 15).count
