- cache [@user.id, @update.updated_at] do
  .page-header
    %h3= "#{@user.username} (#{@places.size} places)"
  - if @places.size > 0
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Município
          %th Local
          %th Tipo
          %th Lock
          %th Criado por
          %th Editado por
          %th Última edição
      %tbody
        - @places.order('city_id, place_type, lock').each do |place|
          %tr
            %td= place.city.name
            %td
              %a{:href => "https://www.waze.com/pt-BR/editor/?zoom=5&lat=#{place.latitude}&lon=#{place.longitude}&venues=#{place.id}", :target => 'WME'}= (place.name.nil? ? 'Sem nome' : place.name)
            %td.text-center= place.place_type
            %td.text-center= place.lock
            %td
              - if place.creator.nil?
                = "-"
              - else
                %a{:href => "/places/#{place.creator.username}"}= "#{place.creator.username}(#{place.creator.rank})"
            %td
              - if place.updated_by.nil? or place.editor.nil?
                = "-"
              - else
                %a{:href => "/places/#{place.editor.username}"}= "#{place.editor.username}(#{place.editor.rank})"
            %td.text-center= (place.updated_on.nil? ? place.created_on.strftime('%d/%m/%Y %H:%M') : place.updated_on.strftime('%d/%m/%Y %H:%M'))
